*, html, body{
	margin: 0px; /*Устанавливаем margin 0 для всего сайта*/
	padding: 0px; /*Устанавливаем padding 0 для всего сайта*/
}

html, body{
	height: 100%;
}

body{
	background: url('../img/background.jpg') round;
}

#wrapper{
	/*border: 1px solid red;*/
	background: #A0A0A0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -20px rgba(0, 0, 0, .8),
    23px 0 20px -20px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
	min-width: 420px;
	max-width: 1259px;
	min-height: 870px;
	margin: 0 auto;
}

header{
	/*border: 1px solid blue;*/
	background: linear-gradient(to top, #323232, #D0D0D0, #323232);
	width: 100%;
	height: 200px;
}

.logo{
	width: 18%;
	height: 200px;
	/*border: 1px solid red;*/
	float: left;
}

.logoimg{
	width: 60%;
	height: 160px;
	/*border: 1px solid #323232;*/
	border-radius: 150px;
	margin: 10px auto;
	background: url('../img/logo.png') no-repeat 50% 50%;
	background-size: 102%;
	/*float: left;*/
	box-shadow: 0px 0px 50px 0px #000000 inset;
}

.name{
	width: 81%;
	height: 200px;
	/*border: 1px solid black;*/
	text-align: center;
	line-height: 90px;
	float: right;
}

.name h1{
	font-size: 80px;
	font-style: italic;
}

.name h2{
	font-size: 40px;
}

nav{
	/*border: 1px solid yellow;*/
	/*width: 100%;*/
	height: 40px;
	padding-left: 40%;
}

nav ul{
	display: table-row;
	/*width: 60%;*/
}
		
nav ul li{
	display: table-cell;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px 5px 20px;
	border-left: 1px solid #081178;
}
		
nav ul li:first-child{
	border-left: none;
}
		
nav ul li a{
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #212962;
}

nav ul li:hover{
	border-bottom: 3px solid #212962;
	opacity: .5;
}

section{
	max-width: 1259px;
	height: 620px;
	/*border: 2px solid yellow;*/
	margin-top: 20px;
}

#text{
	/*border: 1px solid blue;*/
	display: block;
	max-width: 360px;
	height: 560px;
	float: left;
	font-family: Comic Sans MS, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #212962;
	text-align: justify;
	padding: 0 10px 0 20px;
	text-indent: 30px; /* Отступ первой строки */
}

#colorblock{
	/*border: 1px solid green;*/
	max-width: 835px;
	height: 560px;
 	float: right;
 	margin-right: 10px;
}

.categoryBase {
  border: 3px solid #fff;
  color: #fff;
  font-family: arial, sans-serif;
  width: 200px;
  height: 60px;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.categoryBase img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 5px auto 3px;
}

.categoryBase p {
  margin: 0;
  padding: 0;
}

.category0 { 
  background-color: #852B99; 
}

.category1 {      
  background-color: #35AA47; 
}

.category2 {      
  background-color: #4A8BF4; 
}

.category3 { 
  background-color: #828282; 
}

.category4 { 
  background-color: #D44937; 
}

.container a {
    display: inline-block; 
    text-decoration: none; 
    
}

.container  .downloadBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -30px;
  width: 60px;
  height: 15px;
  background: lightgreen;
  color: #666;
  border: 1px solid lightgreen;
}

.container  .enabled {
  display: block;
}

a.download {
  display: block;
}

.downloadMe {
  display: none;
  position: absolute;
  width: 75px;
  height: 20px;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #FCD201, #015CB9);
  border-radius: 50px 50px 0 50px;
  margin: 2px 2px;
  padding: 0 5px 0 5px;
  line-height: 20px;
  font-family: TimesNewRoman;
  font-size: 14px;
  font-weight: bold;
  color: blue;
 }

.download:hover .downloadMe {
  display: block;
 }
 
.specificCategory{
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #000000 inset;
    color: #DB1723;
    font-style: italic;
    transition: 2s linear;
    font-weight: bold;
}

.specificCategory:hover{
    border-radius: 30px;
    background-color: #C4C4C4;
    color: #000000;
    opacity: .5;
}

footer{
	/*border: 1px solid green;*/
	background: linear-gradient(to top, #323232, #D0D0D0, #323232);
	min-width: 420px;
	max-width: 1259px;
    height: 80px; 
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}

footer .left{
	text-align: left;
	padding: 10px 0 0 20px;
}

footer .right{
	text-align: right;
	padding: 0 20px 10px 0;
}